:host {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
  padding       : 0 1rem;
}

h2 {
  text-align: center;
}

.desc {
  color      : gray;
  font-size  : small;
  text-align : center;
  text-indent: 0;
}

p {
  text-indent: 2rem;
  word-break : break-word;
  text-align : justify;
}
