:host {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}

.list {
  >.item {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    padding         : 0.5rem;
    margin          : 0.5rem 0;
    border-radius   : 4px;
    background-color: #f7f7f7;
    color           : inherit;
    transition      : background-color 0.3s ease-in-out;

    &:hover {
      background-color: #cacaca;
    }

    >.favicon {
      width : 1rem;
      height: 1rem;
    }

    >.title,
    >.link {
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
      flex-grow    : 1;
      margin       : 0 0.5rem;
    }

    >.link {
      font-weight: 100;
      font-size  : small;
    }

    .time {
      font-size: x-small;
      color    : gray;
    }

  }
}

.empty {
  text-align : center;
  font-weight: normal;
  font-size  : small;
  color      : gray;
  width      : 100%;
  margin     : auto;
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {
  .link {
    display: none;
  }
}
