<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
<div class="cube" [ngStyle]="{'background-color': color}"></div>
