<header id="header">
  <img src="assets/wave-top.svg" alt="Wave" class="wave">
  <section class="toolbar">
    <img src="assets/company-logo.svg" alt="九章算法" class="logo">
    <a class="title" href="https://jiuzhang.com" target="_blank" matTooltip="点击前往项目课首页" [matTooltipShowDelay]="300"
      [matTooltipHideDelay]="300">
      <!-- <img src="https://cdn.jsdelivr.net/gh/devindon/api/image/link-icon-white.png" alt="icon" class="icon"> -->
      <img src="../assets/logo.svg" alt="Logo" class="icon">
      <span class="text">TinyURL</span>
    </a>
  </section>
</header>

<section id="body">
  <router-outlet></router-outlet>
</section>

<footer id="footer">
  <span class="copyright">Copyright © 2013-2020 <a href="https://www.jiuzhang.com/" target="_blank">九章算法</a></span>
  <span class="policy">点击生成短网址，即代表您同意我们的<a [routerLink]="[ '/policy' ]">《用户与隐私协议》</a></span>
</footer>

<app-loading *ngIf="false"></app-loading>
