:host {
  display       : flex;
  flex-direction: column;

  width     : 100vw;
  min-height: 100vh;
}

#header {
  >.wave {
    position: absolute;
    top     : 0;
    left    : 0;
    z-index : -1;
  }

  >.toolbar {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    width  : calc(100% - 2 * 2rem);
    height : 4rem;
    padding: 0 2rem;
    color  : white;

    >.logo {
      height   : 40px;
      // filter: invert(1); // enable if header background-color is light
    }

    >.title {
      display       : flex;
      flex-direction: row;
      align-items   : center;

      margin: 0;

      >.icon {
        height: 1rem;
        margin: 0 0.5rem;
      }

      >.text {
        font-family: 'Fira Code VF',
          'Fira Code',
          'Microsoft Yahei',
          'PingFangSC-Regular',
          sans-serif;
        font-size  : 1rem;
        font-weight: normal;
      }
    }
  }
}

#body {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;

  width: 100%;
}

#footer {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;

  width    : calc(100% - 2 * 2rem);
  padding  : 0.5rem 2rem;
  color    : gray;
  font-size: xx-small;

  >.copyright {
    >a {
      color: inherit;
    }
  }
}

@media screen and (max-width: 599px) {
  #header {

    >.toolbar {
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
      align-items    : center;

      width  : auto;
      height : 3rem;
      padding: 0 1rem;

      >.logo {
        height: 2rem;
      }
    }
  }

  #footer {
    flex-direction: column;
  }
}
