<header id="header">
  <section class="toolbar">
    <a class="logo" href="https://jiuzhang.com">
      <img src="assets/company-logo.svg" alt="九章算法">
    </a>
    <a [routerLink]="[ '/' ]" class="title" matTooltip="点击前往首页">
      <img src="../assets/logo.svg" alt="Logo" class="icon">
      <span class="text">TinyURL</span>
    </a>
  </section>
</header>

<section id="body">
  <router-outlet></router-outlet>
</section>

<footer id="footer">
  <span class="copyright">Copyright © 2013-2020 <a class="animation" href="https://www.jiuzhang.com/"
      target="_blank">九章算法</a></span>
  <span class="policy">点击生成短网址，即代表您同意<a class="animation" [routerLink]="[ '/policy' ]">《用户与隐私协议》</a></span>
</footer>

<app-loading *ngIf="false"></app-loading>
