<div class="title">
  <img src="https://cdn.jsdelivr.net/gh/devindon/api/image/link-icon-blue.png" alt="TinyURL Icon">
  <h2>TinyURL</h2>
</div>

<form onsubmit="return false">
  <mat-form-field onsubmit="return false" appearance="outline">
    <input matInput formControlName="name" placeholder="https://your.example.com/some/path" autocomplete="off">
    <mat-label>Input your long long link</mat-label>
    <mat-hint>Max length is 4096</mat-hint>
  </mat-form-field>

  <button color="primary" mat-raised-button>生成</button>
</form>

<section class="result">

</section>
