// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tinyurl-primary: mat-palette($mat-indigo);
$tinyurl-accent : mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tinyurl-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tinyurl-theme: mat-light-theme((color: (primary: $tinyurl-primary,
      accent: $tinyurl-accent,
      warn: $tinyurl-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tinyurl-theme);
// @import url('~remixicon/fonts/remixicon.css');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');

html {
  font-family: 'Fira Code VF', 'Fira Code', 'Microsoft Yahei', 'PingFangSC-Regular', sans-serif;
}

code,
.mat-form-field {
  font-family: 'Fira Code VF', 'Fira Code', monospace;
}

// reset body margin
body {
  margin    : 0;
  padding   : 0;
  min-height: 100vh;
}

// reset link style & add link underline style
a,
a:link,
a:active,
a:visited {
  position       : relative;
  color          : #3298db;
  text-decoration: none;
  transition     : color 0.3s ease-in-out;
}

a:hover {
  color: #0180d4;
}

a::after {
  content: '';

  width   : 100%;
  height  : 0.05rem;
  position: absolute;
  bottom  : -0.05rem;
  left    : 0;

  background-color: currentColor;
  transform       : scaleX(0);
  transform-origin: left;
  transition      : all .35s;
}

a:hover::after {
  transform       : scale(1);
  transform-origin: right;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
