@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');

html {
  font-family: 'Fira Code', 'Consolas', 'Microsoft Yahei', sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
  }
}

body {
  margin    : 0;
  padding   : 0;
  min-height: 100vh;
}
